<div class="tile overview">
    <h2>Daily Overview</h2>
    <a>Here is where a bunch of information about what happened in the last day will be.</a>
</div>
<div class="tile-container">
    <div class="tile info">
        <h2>{{player.username}}</h2>
        <p>Current Experiece Points: {{player.exp}}</p>
    </div>
    <div class="tile info">
        <h2>Team</h2>
        <p>Information about the team.</p>
    </div>
    <div class="tile info">
        <h2>Daily Challenges</h2>
        <p>Information about daily challenges.</p>
    </div>
</div>