.map-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 30px;
  margin-top: 70px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.map-frame {
  border: 2px solid black;
  height:80%;
  width: 60%;
  grid-row: 2;
  grid-column: 2;
}

#map {
  height: 100%;
}